<footer class="container">
    <p>&copy; Matthew Wisniewski 2017-2019</p>
    <a href="https://www.linkedin.com/in/matthew-wisniewski-45211b199/">LinkedIn</a>
    <a href="https://www.github.com/mdubz44">Github</a>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153531860-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153531860-2');
    </script>

</footer>